//npm.pkg.github.com/:_authToken=${SMPL_NPM_TOKEN}
@smplfinance:registry=https://npm.pkg.github.com/
@ionic-enterprise:registry=https://registry.ionicframework.com/
//registry.ionicframework.com/:_authToken=key_1040b7eebf114d329c4e56e8f228be65
